.user:after {
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}


.teamMate img {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 50%;
}
.mate-info {
    display: inline-block;
    vertical-align: top;
}
.panelbar-wrapper {
    max-width: 300px;
    margin: 0 auto;
    color : rgb(69, 188, 192);
   
}
.panelbar-item {
    background-color: #2eadad;
}

.body { 
    height: 100% !important;
    width: 100%;
    background-color: rgb(176, 218, 221);
    background-position: cover;
    
    
   
}

.content-wrapper{
    margin-top:100px;
    width: 50%;
    height: 50%;
    margin-right : auto;
    margin-left : auto;
   
}


.containerr{
   margin-left: auto;
   margin-right: auto;
   
   
   display : block !important;
    
}



